<h1>SHOW - VOLUNTEER</h1>
<p>
  <strong>Full name:</strong>
  <%= @volunteer.full_name %>
</p>
<p>
  <strong>Github:</strong>
  <%= @volunteer.github %>
</p>
<p>
  <strong>Background:</strong>
  <%= @volunteer.background %>
</p>
