// Specific CSS for your home-page
.home-intro{
  color: white;
  text-align: center;
  text-emphasis-style: bold;
}

.home2-intro{
  color: white;
  text-align: center;
  text-emphasis-style: bold;
}

.home3-intro{
  color: white;
  text-align: center;
  text-emphasis-style: bold;
}

.student-intro{
  color: rgb(0, 0, 0);
  text-align: center;
  text-emphasis-style: bold;
}

.volunteer-intro{
  color: rgb(0, 0, 0);
  text-align: center;
  text-emphasis-style: bold;
}

.carousel-item {
    width: 100%;
    height: 300px;
}

.slide-text p {
  text-align: justify;
  vertical-align: middle;
}

