// Specific CSS for your home-page
.home-intro{
  color: white;
  text-align: center;
  text-emphasis-style: bold;
}

.home2-intro{
  color: white;
  text-align: center;
  text-emphasis-style: bold;
}

.home3-intro{
  color: white;
  text-align: center;
  text-emphasis-style: bold;
}
