
<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-lg-6">
     <%= image_tag "logo1.png", size: "375x300"%>
    </div>

    <div class="col-12 col-lg-6">
      <div id="slideshow">
        <div class="slide-text">
            O Brasil traz números cada vez mais preocupantes com relação à taxa de desemprego e quando analisamos a situação da comunidade LGBTQIA+, os desafios são ainda maiores. Jovens LGBTQIA+ sofrem diariamente com o preconceito, exclusão, dificuldade de acesso à educação e consecutivamente inserção no mercado de trabalho.
        </div>
        <div class="slide-text">
            De acordo com pesquisa realizada pela Elancers:  20% das empresas brasileiras não contratam lésbicas, gays, travestis e transexuais devido à sua orientação sexual e identidade de gênero. E ainda, 11% só contrataria uma pessoa LGBTQIA+ caso não ocupasse cargos mais elevados.
        </div>
        <div class="slide-text">
          Segundo pesquisa realizada pelo Center for Talent Innovation:

            33% das empresas do Brasil não contratariam para cargos de chefia pessoas LGBTQIA+;

            41% das pessoas LGBTQIA+ afirmam terem sofrido algum tipo de discriminação em razão da sua orientação sexual ou identidade de gênero no ambiente de trabalho;

            90% de travestis se prostituem por não terem conseguido nenhum outro emprego, até mesmo aqueles que têm boas qualificações.
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col d-flex justify-content-center home-intro">
      A plataforma Be U(useful) foi criada para conectar jovens LGBTQIA+ com profissionais de tecnologia dispostos a contribuir com a inserção no mercado de trabalho e crescimento profissional desses jovens através de auxílio voluntário.
    </div>
  </div>

  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
      <%= link_to "Seja você!", seja_voce_path, class: "btn-ghost mr-5" %>
      <%= link_to "Seja útil!", seja_util_path, class: "btn-ghost" %>
    </div>
  </div>

</div>
