
<div class="container">
  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
     <%= image_tag "logo1.png", size: "375x300"%>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center home-intro">
      A plataforma Be U(useful) foi criada para conectar jovens LGBTQIA+ com profissionais de tecnologia dispostos a contribuir com a inserção no mercado de trabalho e crescimento profissional desses jovens através de auxílio voluntário.
    </div>
  </div>

  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
      <%= link_to "Seja você!", seja_voce_path, class: "btn-ghost mr-5" %>
      <%= link_to "Seja útil!", seja_util_path, class: "btn-ghost" %>
    </div>
  </div>

</div>
