<div class="container">
  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
     <%= image_tag "logo1.png", size: "375x300"%>
    </div>
  </div>


  <div class="row">
    <div class="col d-flex justify-content-center home2-intro">
      Hey you, jovem LGBTQIA+, bem-vinde!!!
      Aqui conectaremos você com profissionais de tecnologia dispostos a contribuir com seu crescimento profissional e inserção no mercado de trabalho.
    </div>
  </div>
