<div class="container">
  <div class="row mt-5">
    <div class="col d-flex justify-content-center home3-intro">
      Hey you, profissional de tecnologia bem-vinde tb!!!
      Gostaria de compartilhar seu conhecimento e ser útil ajudando no crescimento profissional de jovens LGBTQIA+ por voluntariado?
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-lg-6">
     <%= image_tag "logo1.png", size: "375x300"%>
    </div>

    <div class="col-12 col-lg-6">
      <div id="slideshow">
        <div class="slide-text">
            Test 1
        </div>
        <div class="slide-text">
          Test 2
        </div>
      </div>
    </div>
</div>
