<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-lg-6">
     <%= image_tag "logo1.png", size: "375x300"%>
    </div>

    <div class="col-12 col-lg-6">
      <div id="slideshow">
        <div class="slide-text">
            Test 1
        </div>
        <div class="slide-text">
          Test 2
        </div>
      </div>
    </div>


  <div class="row mt-5">
    <div class="col d-flex justify-content-center home2-intro">
      Hey you, jovem LGBTQIA+, bem-vinde!!!
      Aqui conectaremos você com profissionais de tecnologia dispostos a contribuir com seu crescimento profissional e inserção no mercado de trabalho.
    </div>
  </div>
 </div>
