.slide-interest {
height: 50px;
}

.carousel-item-new {
    width: 100%;
    height: 50px;
}

.img-carousel {
    width: 600px;
}

.img-cert-carousel {
    width: 600px;
    height: 600px !important;
}


.portfolio-carousel {
    height: 700px !important;
}

.carousel-title{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
